// config
@import "./config/_variable";
@import "./config/reset";

// components
@import "./components/header";
@import "./components/footer";
@import "./components/video";
@import "./components/shared";
@import "./components/forms";
@import "./components/social-login";
@import "./components/video-player";
@import "./components//video-aside";
@import "./components/pagination";
// screens
@import "./screens/home";
@import "./screens/search";
@import "./screens/profile";
@import "./screens/edit-profile";
@import "./screens/upload";
@import "./screens/watchVideo";
// default
a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: $bg;
  color: white;
}

main {
  padding-top: 100px;
  max-width: 1400px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes goAway {
  from {
    transform: none;
    opacity: 1;
  }
  to {
    transform: translateY(-50px);
    opacity: 0;
  }
}

.message {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 200px;
  padding: 20px;
  font-size: 20px;
  border-radius: 100px;
  text-align: center;
  animation: goAway 0.5s ease-in-out forwards;
  animation-delay: 5s;
  &.error {
    background-color: tomato;
    color: white;
  }
  &.info {
    background-color: #47a9ff;
    color: white;
  }
  &.success {
    background-color: #3aba00;
    color: white;
  }
}
