.choose__section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin-bottom: 40px;
  .home__section-video,
  .home__section-photo {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .section--title {
      margin-bottom: 50px;
    }
    .home-video-grid,
    .home-photo-grid {
      display: grid;
      grid-template-columns: repeat(2, 240px);
    }
  }
}

@media screen and (max-width: 1160px) {
  .choose__section .home__section-video .home-video-grid,
  .choose__section .home__section-photo .home-photo-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, 250px);
    padding: 0 20px;
  }
}
