.search__form {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  position: relative;
  input {
    all: unset;
    width: 90%;
    padding: 15px 20px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: black;
    color: white;
    font-size: 14px;
  }
  button {
    all: unset;
    top: 15px;
    right: 20px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    cursor: pointer;
  }
}
