.upload__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .upload__video {
    width: 40%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-shadow: $boxshadow;
    border-radius: 10px;
    video {
      max-width: 100%;
      margin-bottom: 10px;
      border-radius: 10px;
    }
  }
}
