form {
  max-width: 420px;
  margin: 0 auto;
  padding: 25px;
  &:not(.search__form) {
    background-color: rgba($color: #000000, $alpha: 0.3);
    border-radius: 10px;
    border: 1px solid rgba($color: #fff, $alpha: 0.3);
  }
  label {
    font-size: 14px;
    margin: 15px 0px;
    display: block;
  }
}
input:not(input[type="range"]),
textarea {
  all: unset;
  width: 90%;
  padding: 15px 20px;
  border-radius: 10px;
  border: 1px solid rgba($color: #fff, $alpha: 0.3);
  background-color: black;
  color: white;
  font-size: 14px;
  &::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
}

input[type="submit"],
.social__btn {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: white;
  color: rgba($color: $red, $alpha: 1);
  text-align: center;
  cursor: pointer;
  display: block;
}
