header {
  padding: 20px 40px;
  display: flex;
  align-items: center;
  font-size: 12px;
  .header__logo {
    color: $red;
    margin-right: 30px;
    font-size: 38px;
    width: 10%;
  }
  nav {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    ul {
      width: 50%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &:last-child {
        display: flex;
        justify-content: flex-end;
      }
      li {
        margin-left: 30px;
        font-size: 1vw;
        font-weight: 600;
        text-transform: uppercase;
      }
      .header-profile {
        a {
          display: flex;
          align-items: center;
        }
      }
      i {
        font-size: 16px;
      }
    }
  }
  .header__btn {
    background-color: white;
    color: $bg;
    padding: 5px 10px;
    border-radius: 10px;
  }
  .header__avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
  }
}

// @media screen and (max-width: 1160px) {
//   header {
//     nav {
//       display: none;
//     }
//   }
// }
