// video mixin
.media-mixin {
  width: 100%;
  height: 100%;
  .media-mixin__thumb {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: $videobg;
    box-shadow: $boxshadow;
    overflow: hidden;
    // &:not(.video-grid .media-mixin .media-mixin__thumb) {
    //   padding: 15px 0;
    // }
    video {
      width: 100%;
      height: 100%;
    }
    img.thumb__media {
      width: 100%;
      max-height: 100%;
    }
  }
  .media-mixin__data {
    width: 100%;
    padding: 0px 15px;
    .media-mixin__title {
      font-size: 18px;
      display: block;
      margin-top: 10px;
    }
    .media-mixin__meta {
      margin-top: 10px;
      font-size: 12px;
      display: flex;
      justify-content: space-between;
    }
  }
}
