.empty__msg {
  margin-bottom: 50px;
  text-align: center;
  font-size: 20px;
}
.video-grid {
  display: grid;
  column-gap: 4em;
  row-gap: 3em;
  margin-bottom: 60px;
  height: 100%;
  grid-template-columns: repeat(4, minmax(180px, 1fr));
  .video-mixin:first-child,
  .video-mixin:nth-child(2) {
    grid-column: span 2;
  }
}
.auth-switch {
  text-align: center;
  margin-top: 30px;
  a {
    text-decoration: underline;
  }
}
.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

@media screen and (max-width: 890px) {
  .video-grid {
    display: grid;
    row-gap: 3em;
    height: 100%;
    grid-template-columns: 1fr;
    .video-mixin:first-child,
    .video-mixin:nth-child(2) {
      grid-column: span 1;
    }
  }
}

@media screen and (max-device-width: 480px) {
  .video-grid {
    display: grid;
    row-gap: 70px;
    height: 100%;
    grid-template-columns: 1fr;
    .video-mixin:first-child,
    .video-mixin:nth-child(2) {
      grid-column: span 1;
    }
  }
}
