.empty__msg {
  margin-bottom: 50px;
  text-align: center;
  font-size: 20px;
}
.video-grid {
  display: grid;
  gap: 5vw;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}
.auth-switch {
  text-align: center;
  margin-top: 30px;
  a {
    text-decoration: underline;
  }
}
.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
