.social-login {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 30px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  .social__btn--github {
    background-color: transparent;
    color: $github !important;
    margin-bottom: 20px;
  }
  .social__btn--kakao {
    background-color: transparent;
    color: $kakao !important;
  }
}
