.aside-video__section {
  width: 20%;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  margin: 0 auto;
  box-shadow: $boxshadow;
  overflow: scroll;
  max-height: 100vh;
  .next__video-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

@media screen and (max-width: 700px) {
  .aside-video__section {
    width: 95%;
  }
}

@media screen and (max-device-width: 480px) {
  .aside-video__section {
    width: 84%;
  }
}
