// video mixin
.video-mixin {
  margin-top: 10px;
  .video-mixin__thumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: $videobg;
    box-shadow: $boxshadow;
    video {
      width: 100%;
      height: 100%;
    }
  }
  .video-mixin__data {
    padding: 0px 15px;
    .video-mixin__title {
      font-size: 18px;
      display: block;
      margin-top: 10px;
    }
    .video-mixin__meta {
      margin-top: 10px;
      font-size: 12px;
      display: flex;
      justify-content: space-between;
    }
  }
}
