extends ./main/layout
include ./mixins/videos
include ./mixins/photos

block content 
  div#chooseSection.choose__section
    section.home__section-video
      div.section--title
        a(href="/videos")
          h1 Video Router
      .video-grid#videoGrid.home-video-grid      
        each video in videos
          +video(video)
        else 
          span.empty__msg 비디오를 찾지 못했습니다.
    section.home__section-photo
      div.section--title
        a(href="/photos")
          h1 Photo Router
      .photo-grid#photoGrid.home-photo-grid 
        each photo in photos 
          +photo(photo)
        else 
          span.empty__msg 사진이 없습니다~


block scripts 
  script(src="/static/js/videoPreview.js")