extends main/layout

block content
  if errMsg 
    h3=errMsg
  form(method="POST") 
    input(required, name="username", type="text", placeholder="Username") 
    input(required, name="password", type="password", placeholder="Password")     
    input(type="submit", value="Log In") 
    br
    a(href="/users/github/start") Sign with Github &larr;
  hr
  div 
    span Don't have an account?
    a(href="/join") &nbsp; Create one now &larr;