extends main/layout

block content
  if errMsg 
    h3=errMsg
  form(method="POST") 
    label(for="login-username") User Name
    input(required, name="username", type="text", id="login-username", placeholder="Username", minlength=3, maxlength=30) 
    label(for="login-password") Password
    input(required, name="password", type="password", id="login-password", placeholder="Password")     
    input(type="submit", value="Log In") 
    br
    a(href="/users/github/start") Sign with Github &larr;
  hr
  div 
    span Don't have an account?
    a(href="/join") &nbsp; Create one now &larr;