footer &copy; #{new Date().getFullYear()} GyumTube
  ul 
    li 
      a(href="https://github.com/lee-tae-eon/my-first-website", target="_blank") GitHub
    li 
      a(href="https://developer-lte.tistory.com/", target="_blank") Blog