doctype html 
html(lang="ko")
  include ../partials/head
  body
    header
      h1=pageTitle
      if pageUrl !== "/videos/upload"
        nav 
          ul
            li
              a(href="/videos/upload") Upload Video
    main 
      block content
  include ../partials/footer