extends ../main/layout
include ../mixins/videos

block content
  div.profile__data
    if user.socialLogin === true
      img(src=user.avatarUrl).avatar
      h3=user.name
    else 
      img(src="/" + user.avatarUrl).avatar
      h3=user.name
  if user.videos
    div.video-grid
      each video in user.videos 
        +video(video)
      else  
        li Sorry not found
  else 
    span.empty__message No videos found