extends ../main/layout
include ../mixins/videos

block content
  div.profile__data
    if user.avatarUrl == null 
      img(src="../../noImage/noImage.png")
    else 
      if isHeroku 
        img(src=user.avatarUrl).avatar
      else
        if user.avatarUrl.includes("github")
          img(src=user.avatarUrl).avatar
        else 
          img(src="/" + user.avatarUrl).avatar
    h3=user.name
  if user.videos
    div.video-grid#videoGrid
      each video in user.videos 
        +video(video)
      else  
        li Sorry not found
  else 
    span.empty__message No videos found